/*----------------GENERAL-------------------*/
body,
header {
  background-color: rgb(164, 57, 161);
}

/*----------------HEADER-------------------*/

/* Logotipo*/

nav.menu a {
  color: white;
}

nav.menu a:hover,
nav.menu a:active {
  background-color: rgba(255, 255, 255, 0.542);
}

button#mode {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 2rem;
  height: 2re;
  background-image: url("../img/luna.png");
  border: none;
}

/*----------------FORM-------------------*/

form div {
  border: 3px solid #ff8c44;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

input {
  background-color: white;
}

input:focus {
  background-color: #e5eef8;
}

input#originID {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
}

input#destinationID {
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
}

form button {
  background-color: #3692f4;
  color: white;
}

form button:active {
  box-shadow: rgb(123, 140, 155) 3px 3px 6px 0px inset,
    rgba(206, 223, 255, 0.5) -3px -3px 6px 1px inset;
}

form button:hover {
  background-color: #8bc3ff;
}

/*----------------RESULTS-------------------*/

/*Contenedor de los resultados*/

article {
  background-color: white;
}

/* Primer tercio de los resultados */

ul.main-article > li:first-child {
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
  padding: 0;
}

/*Tiempo del viaje*/
ul.time-stopeOvers-result > li:first-child {
  border-bottom: 1px solid lightgray;
}

ul.time-stopeOvers-result > li:nth-child(2) {
  font-size: 0.8rem;
}

ul.main-article li ul:nth-child(2) {
  background-color: red;
}

ul.airline-price-result {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

ul.airline-price-result > li {
  margin-top: 10px;
}

/*------------------ERROR-----------------------------------*/

article.error {
  padding: 20px;
  font-weight: 700;
  color: rgb(155, 0, 0);
}
/*-------------------ANIMATION  &  MODAL--------------------*/

.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(33, 38, 84, 0.7);
  display: flex;
  align-items: center;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.rotate-center {
  -webkit-animation: rotate-center 0.4s ease-in-out both;
  animation: rotate-center 0.4s ease-in-out both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  height: 90px;
}

/*----------------YOU HAVEN'T SEEN ANYTHING-------------------*/
.display-none {
  display: none;
}

/*---------------ICONOS-----------------*/

.gitGaby,
.gitEfren,
.gitHector {
  display: flex;
  align-items: center;
}

.gitGaby:active,
.gitEfren:active,
.gitHector:active {
  box-shadow: rgb(123, 140, 155) 3px 3px 6px 0px inset,
    rgba(206, 223, 255, 0.5) -3px -3px 6px 1px inset;
}
.gatogit {
  width: 30px;
  margin-right: 4px;
  margin-right: 10px;
}

.view {
  display: none;
}

/*---------------MEDIA QUERIES-----------------*/

@media (min-width: 800px) {
  header {
    height: 20%;
    padding-left: 40px;
    padding-right: 40px;
  }

  h1 {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-top: 15px;
  }

  nav.menu {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav.menu a {
    font-size: 20px;
  }
  form div {
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    justify-content: space-between;
    position: relative;
    bottom: 30px;
  }

  form {
    display: flex;
    justify-content: center;
  }

  input {
    flex-grow: 1;
    border-radius: 0px;
    align-self: stretch;
  }

  input#originID {
    border-bottom: none;
    border-radius: 4px 0px 0px 4px;
    border-right: 3px solid #ff8c44;
  }

  input#destinationID {
    border-bottom: none;
    border-right: 3px solid #ff8c44;
  }

  input#passengerID {
    border-right: 3px solid #ff8c44;
  }
  input#dateID {
    border-right: 3px solid #ff8c44;
  }

  form button {
    border-radius: 0px 4px 4px 0px;
    align-self: stretch;
  }

  div.view {
    height: 300px;
    width: 100vw;
    background-image: url("/img/pexels-pok-rie-130879.jpg");
    background-position: center;
    background-position-y: -200px;
    background-size: cover;
  }
  .view {
    display: block;
  }
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  ul.main-article {
    min-width: 400px;
  }
}
