@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------GENERAL-------------------*/
body {
  background-color: #c8e3ff;
  font-family: Montserrat;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

ul {
  list-style: none;
}

/*----------------HEADER-------------------*/

header {
  background-color: #8bc3ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
}
/* Logotipo*/
h1 > img {
  height: 40px;
}

/*----------------FORM-------------------*/

form div {
  border: 3px solid #ff8c44;
  border-radius: 0.5rem;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  height: 100%;
}

input {
  border: none;
  padding: 10px;
  font-family: Montserrat;
  font-weight: 500;
  background-color: white;
}

input:focus {
  outline: none;
  background-color: RGBA(0, 177, 219, 0.3);
}

input#originID {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
}

input#destinationID {
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
}

button {
  border: none;
  background-color: #8bc3ff;
  border-radius: 0px 0px 4px 4px;
  font-family: Montserrat;
  font-size: 1rem;
  padding: 8px;
  font-weight: 700;
  color: white;
}

/*----------------RESULTS-------------------*/

article#resultID {
  display: none;
}

/*Contenedor de los resultados*/

article {
  background-color: white;
  margin: 0 20px;
  border-radius: 0.5rem;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

ul.main-article {
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

/*li de los resultados*/

ul.main-article li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Primer tercio de los resultados */

ul.main-article > li:first-child {
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
  padding: 0;
}

/* Mitad superior de los resultados */

ul.main-article > li > ul {
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
}

/*Segundo tercio de los resultados*/

ul.middle-ul {
  flex-grow: 1;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul.middle-ul > li {
  padding: 4px;
}

/*Tiempo del viaje*/
ul.middle-ul > li:first-child {
  border-bottom: 1px solid lightgray;
}
ul.middle-ul > li:nth-child(2) {
  font-size: 0.8rem;
}

/*Cosas que queremos en negrita*/
li.important {
  font-weight: 700;
}

ul.main-article li ul:nth-child(2) {
  background-color: red;
}

ul.airline-price-result {
  display: flex;
  align-items: flex-start;
}
ul.airline-price-result > li {
  margin-top: 10px;
}
li.airline {
  align-items: flex-start;
}
li.price {
  align-items: flex-end;
  margin-right: 5px;
}

/*-------------------ANIMATION  &  MODAL--------------------*/

.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(33, 38, 84, 0.7);
  display: flex;
  align-items: center;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.rotate-center {
  -webkit-animation: rotate-center 0.4s ease-in-out both;
  animation: rotate-center 0.4s ease-in-out both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  height: 90px;
}

/*----------------YOU HAVEN'T SEEN ANYTHING-------------------*/
.display-none {
  display: none;
}
